.benefitItem .sapMOHTopRow .sapMOHTitleDiv{
    line-height: 3rem;
}

.benefitListItem .sapMObjLTopRow .sapMObjLTitle {
    line-height: 3rem;
}

.benefitList {
	padding-top: 0rem;
}

.visible{
    display: none;
}

.labelHeight{
    line-height: 3rem;
}

.bold {
    font-weight: bold;
}

.errorText{
	color: red;
}

.errorContainer{
	margin-bottom: 0.5rem;
}

.displayNone {
	display: none !important;
}

.listItem:hover {
	cursor: pointer;
}