.benefitItem .sapMOHTopRow .sapMOHTitleDiv{
    line-height: 3rem;
}

.benefitListItem .sapMObjLTopRow .sapMObjLTitle {
    line-height: 3rem;
}

.visible{
    display: none;
}

.labelHeight{
    line-height: 3rem;
}