<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
  <display-name>com.sap.hana.cloud.samples.benefits</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error500.html</location>
  </error-page>
  <listener>
    <listener-class>com.sap.hana.cloud.samples.benefits.service.AppServletContextListener</listener-class>
  </listener>
  <listener>
    <description>sessionListener</description>
    <listener-class>
        com.sap.hana.cloud.samples.benefits.service.SessionListener
    </listener-class>
  </listener>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.sap.hana.cloud.samples.benefits.auth.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/OData.svc/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EntityManagerInterseptor</filter-name>
    <filter-class>com.sap.hana.cloud.samples.benefits.service.EntityManagerInterceptor</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EntityManagerInterseptor</filter-name>
    <url-pattern>/OData.svc/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ApplicationFilter</display-name>
    <filter-name>ApplicationFilter</filter-name>
    <filter-class>com.sap.hana.cloud.samples.benefits.service.ApplicationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ApplicationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SessionCreateFilter</display-name>
    <filter-name>SessionCreateFilter</filter-name>
    <filter-class>com.sap.hana.cloud.samples.benefits.service.SessionCreateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCreateFilter</filter-name>
    <url-pattern>/OData.svc/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>ODataContextFilter</display-name>
    <filter-name>ODataContextFilter</filter-name>
    <filter-class>com.sap.hana.cloud.samples.benefits.odata.cfg.ODataContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ODataContextFilter</filter-name>
    <url-pattern>/OData.svc/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ODataServlet</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
    </init-param>
    <init-param>
      <param-name>org.apache.olingo.odata2.service.factory</param-name>
      <param-value>com.sap.hana.cloud.samples.benefits.odata.cfg.BenefitsODataServiceFactory</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ODataServlet</servlet-name>
    <url-pattern>/OData.svc/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResourceServlet</servlet-name>
    <servlet-class>com.sap.ui5.resource.ResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceServlet</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sap.hana.cloud.samples.benefits.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>com.sap.ui5.resource.USE_CACHE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.REMOTE_LOCATION</param-name>
    <param-value>https://sapui5.hana.ondemand.com</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.REMOTE_USE_CACHE</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>com.sap.ui5.resource.PREFER_REMOTE_LOCATION</param-name>
    <param-value>true</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/DefaultDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>connectivityConfiguration</res-ref-name>
    <res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
  </resource-ref>
  <resource-ref>
    <res-ref-name>authenticationHeaderProvider</res-ref-name>
    <res-type>com.sap.core.connectivity.api.authentication.AuthenticationHeaderProvider</res-type>
  </resource-ref>
  <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Everyone</role-name>
      <role-name>Administrator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin area</web-resource-name>
      <url-pattern>/view/campaigns/*</url-pattern>
      <url-pattern>/view/employees/*</url-pattern>
      <url-pattern>/OData.svc/hrCampaigns</url-pattern>
      <url-pattern>/OData.svc/startCampaign</url-pattern>
      <url-pattern>/OData.svc/stopCampaign</url-pattern>
      <url-pattern>/OData.svc/addCampaign</url-pattern>
      <url-pattern>/OData.svc/deleteCampaign</url-pattern>
      <url-pattern>/OData.svc/editCampaign</url-pattern>
      <url-pattern>/OData.svc/resetDB</url-pattern>
      <url-pattern>/OData.svc/managed</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Administrator</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Open OData</web-resource-name>
      <url-pattern>/OData.svc/userCampaigns</url-pattern>
      <url-pattern>/OData.svc/addOrder</url-pattern>
      <url-pattern>/OData.svc/deleteOrder</url-pattern>
      <url-pattern>/OData.svc/uiConfig</url-pattern>
      <url-pattern>/OData.svc/userInfo</url-pattern>
      <url-pattern>/OData.svc/profile</url-pattern>
      <url-pattern>/OData.svc/BenefitInfos</url-pattern>
      <url-pattern>/OData.svc/Orders</url-pattern>
      <url-pattern>/OData.svc/Orders</url-pattern>
      <url-pattern>/OData.svc/userPhoto</url-pattern>
      <url-pattern>/OData.svc/userPoints</url-pattern>
      <url-pattern>/OData.svc/hrPhoto</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Everyone</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Unsecured open social widgets for portal integration</web-resource-name>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>Logout</web-resource-name>
      <description>Logout</description>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/logout</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Static Content</web-resource-name>
      <url-pattern>/img/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <security-role>
    <description>HR Administrator</description>
    <role-name>Administrator</role-name>
  </security-role>
  <security-role>
    <description>Data Analyzer</description>
    <role-name>Analyzer</role-name>
  </security-role>
</web-app>